---
import { Image } from 'astro:assets';

import Root from '@/layouts/root/index.astro';
import CatsFamily from '@/assets/images/cats-family.svg';
import { Button } from '@/components/button';
import { NAV_LINKS } from '@/constants/nav-links';
---

<Root title='Pulo do Gato News' route='/about'>
  <div class='large-container px-6 lg:px-0'>
    <div class='grid grid-cols-1 xl:grid-cols-2 gap-6'>
      <div>
        <h1 class='uppercase text-3xl text-primary font-bold'>Sobre nós</h1>
        <p class='mt-3 text-lg'>
          Nosso jornal é o espaço onde notícias interessantes, curiosidades
          instigantes e conteúdos relevantes se encontram para te deixar sempre
          um passo à frente.
        </p>
        <p class='mt-3 text-lg'>
          Com leveza e criatividade, entregamos o melhor das novidades. Seja
          bem-vindo ao ponto de encontro de quem não perde tempo e sabe onde
          encontrar o pulo do gato!
        </p>
        <p class='mt-3 text-lg'>
          Se você possui alguma opnião, relato, denúncia ou notícia sobre a
          região e deseja contribuir com nosso jornal, você pode escrever e nos
          enviar seu texto na sessão de colunistas
        </p>
        <Button href={NAV_LINKS[3].route} isLink className='mt-6 w-48 mx-auto'>
          Contribuir com o jornal
        </Button>
      </div>
      <div>
        <Image
          src={CatsFamily}
          width='800'
          height='800'
          alt='Uma família de gatos vermelhos felizes'
        />
      </div>
    </div>
  </div>
</Root>
