---
import { Image } from 'astro:assets';
import Brand from '../../assets/images/pulo-do-gato-news-brand.jpg';
---

<div class='flex items-canter gap-2'>
  <Image src={Brand} width='48' height='48' alt='Pulo do Gato News' />
  <strong class='block text-gray-700 font-bold mt-1'>Pulo do Gato News</strong>
</div>
