---
import GoBackAction from './go-back-action/index.astro';
import ShareAction from './share-action/index.astro';
---

<aside class='fixed top-48 left-10'>
  <ul class='text-gray-500'>
    <li>
      <GoBackAction />
    </li>
    <li>
      <ShareAction />
    </li>
  </ul>
</aside>
