---
import Logo from '../logo/index.astro';
---

<section class='grid place-content-center gap-3 w-full bg-gray-50 py-6 px-3'>
  <strong class='uppercase text-gray-300 text-center'>Bem vindo ao</strong>
  <Logo containerClass='mx-auto size-20' iconClass='size-16' />
  <h1 class='text-xl font-bold text-center'>Pulo do Gato News</h1>
  <p class='text-center md:text-start'>
    As <span class='text-primary font-bold'>notícias</span> que você precisa para
    começar o dia bem <span class='text-primary font-bold'>informado</span>.
  </p>
</section>
