---
import Logo from '../logo/index.astro';
---

<section class='grid place-content-center gap-4 w-full bg-gray-50 py-8 px-3'>
  <strong class='uppercase text-gray-300 text-center tracking-widest'
    >Bem vindo ao</strong
  >
  <div class='grid place-content-center w-full'>
    <Logo size={400} />
  </div>
  <p class='text-center md:text-start'>
    As <span class='text-primary font-bold'>notícias</span> que você precisa para
    começar o dia bem <span class='text-primary font-bold'>informado</span>.
  </p>
</section>
