---
import Root from '../layouts/root/index.astro';
import Hero from '../components/hero/index.astro';
import LastPosts from '../components/last-posts/index.astro';
---

<Root title='Home' route='/'>
  <div class='large-container mx-auto'>
    <Hero />
    <div class='mt-24'>
      <LastPosts />
    </div>
  </div>
</Root>
