---
import Root from '../layouts/root/index.astro';
import Hero from '../components/hero/index.astro';
---

<Root title='Home'>
  <main>
    <div class='md:container mx-auto mt-12'>
      <Hero />
    </div>
  </main>
</Root>
