---
import Brand from '../brand/index.astro';
import Drawer from '../drawer/index.astro';
import Navbar from './navbar/index.astro';
import MenuHamburguer from './menu-hamburguer/index.astro';
---

<header class='flex items-center justify-between max-w-6xl mx-auto px-6'>
  <Brand />
  <div class='md:hidden'>
    <MenuHamburguer />
  </div>
  <Drawer id='nav-drawer'>
    <Navbar />
  </Drawer>

  <div class='hidden md:block'>
    <Navbar />
  </div>
</header>
