---
import { NAV_LINKS } from '@/constants/nav-links';
import Arrow from './arrow/index.astro';

type Props = {
  postName: string;
};

const { postName } = Astro.props;
---

<nav class='flex' aria-label='Breadcrumb'>
  <ol class='flex items-center gap-3'>
    <li class='text-gray-500'>
      <a href={NAV_LINKS[0].route} class='flex items-center gap-3'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='icon icon-tabler icons-tabler-outline icon-tabler-home'
          ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
            d='M5 12l-2 0l9 -9l9 9l-2 0'></path><path
            d='M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7'></path><path
            d='M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6'></path></svg
        >
        Home
      </a>
    </li>
    <li class='text-gray-500'>
      <a href={NAV_LINKS[1].route} class='flex items-center gap-3'>
        <Arrow />
        Notícias
      </a>
    </li>
    <li class='flex items-center gap-3 text-gray-500'>
      <Arrow />
      <span class='truncate w-96'>
        {postName}
      </span>
    </li>
  </ol>
</nav>
