---
const LINKS = [
  {
    title: 'Home',
    route: '/',
  },
  {
    title: 'Notícias',
    route: '/posts',
  },
  {
    title: 'Sobre',
    route: '/about',
  },
];
---

<astro-nav>
  <nav>
    <ul class='flex flex-col md:flex-row items-center gap-6'>
      {
        LINKS.map(link => (
          <li
            data-nav='link'
            class='rounded-md px-3 py-2  hover:opacity-50 transition-opacity duration-200 data-[active]:text-primary data-[active]:font-bold data-[active]:bg-gray-50'
          >
            <a href={link.route}>{link.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</astro-nav>

<script>
  class AstroNav extends HTMLElement {
    connectedCallback() {
      const hideDrawerButton = document.querySelector<HTMLButtonElement>(
        '[data-drawer="nav-drawer-hide"]',
      );
      if (!hideDrawerButton) return;

      const links = this.querySelectorAll<HTMLLIElement>('[data-nav="link"]');

      const currentRoute = window.location.pathname;

      for (const link of links) {
        link.addEventListener('click', () => hideDrawerButton.click());
        const anchor = link.firstElementChild as HTMLAnchorElement;
        if (currentRoute === anchor.href.split('4321').at(-1)) {
          link.dataset.active = 'true';
        }
      }
    }
  }

  customElements.define('astro-nav', AstroNav);
</script>
